<!DOCTYPE html>

<html>

<head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/weather.png">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="/img/868px-Cartoon_Robot.svg.png">
    </div>
    {{>footer}}
</body>


</html>